<%- include('../partials/navLeft') %>





    <div class="content">

        <style>

            :root {
                --background-color: #242424; 
                --nav-background-color : #161717; 
                --icon-color:#8C8C8C;
                --preview-background-color:#161717;
                --heading-color:white ; 
                --font-color:white;
                --boxes-bg-color: #0B0b0f;
                --box-count-color: #242424;
                
            
               
            }
            
            .light-mode {
                --background-color: #FFFFFF;
                --nav-background-color: #E3E3EA;
                --icon-color:#000000;
                --preview-background-color:#FFFFFF;
                --heading-color:black;
                --font-color:black;
                --boxes-bg-color:white;
                --box-count-color:#E3E3EA;
                
                
                
              }
                    * {
                        margin: 0;
                        padding: 0;
                        box-sizing: content-box;
                    }
                    body{
                        
                        display: flex;
                        background-color: var(--background-color);
                        
                    }
                    .nav:hover + .content {
                        margin-left: 250px;
                        
                    }
                    
                    
            
                    .content {
                        width: calc(100vw - 80px );
                        min-height: 100vh;
                        height : auto ; 
                        display: flex;
                        flex-direction: column;
                        margin-left: 80px; /* Initial margin-left to match the nav width */
                        transition: margin-left 0.3s; /* Add transition for a smooth effect */
                    }
            
                      .org-content{
                            padding: 1rem 1rem 1rem 3rem;
                            font-family: 'Poppins', sans-serif;
                            width: 100%;
                            
                        }
            
                        .inner{
                            
                            color: var(--heading-color);
                            
                        }
                        .inner h1{
                           font-size: 40px;
                           font-weight: bolder;
            
                           
                        }
            
                        .innerContent{
                            width: 90%;
                            height: 95%;
                            display: flex;
                            
                        }
                        .left{
                            width: 48%;
                            height: 100%;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                        }
                        .right{
                            width: 50%;
                            height: 100%;
                            
                            
                        }
                        .inner{
                            display: flex;
                            flex-direction: column;
                            gap: 3rem;
                            width: 80%;
                            height: 80vh;
                            padding: 2rem 0rem 0rem 6rem;
                            
            
                        }
            
                         h1{
                            font-family: 'Poppins', sans-serif;
                            font-size: 40.13px;
                            font-weight: 700;
                        }
                         h2{
                            font-family: "DM Sans", sans-serif;
                            font-size: 24px;
                            font-weight: 600;
                        }
                        
                        .firstInner form{
                            display: flex;
                            flex-direction: column;
                            gap: 1rem;
                            margin-top: 3rem;
                            
                        }
                        .firstInner form input[type = "text"]{
                            width: 400px;
                            height: 47px;
                            border: 1px solid #EFF0F6;
                            border-radius: 11px;
                            font-size : 18px ; 
                            padding-left : 10px ;
                        }
                        .firstInner form input[type = "password"]{
                            width: 400px;
                            height: 47px;
                            border: 1px solid #EFF0F6;
                            border-radius: 11px;
                            font-size : 18px ; 
                            padding-left : 10px ;
            
                        }
                        .btn{
                            width: 60%;
                            height: 30%;
                            display: flex;
                            align-items: center;
                            margin-top: 1rem;
                        }
                        .firstInner form input[type = "submit"] {
                            width: 185px;
                            height: 50px;
                            background-color: #000000;
                            border: none;
                            color: white;
                            border-radius: 11px;
                            font-size: 18px;
                            font-family: "DM Sans", sans-serif;
                            
            
                        }
                        .firstInner form div{
                            display: flex;
                            flex-direction: column;
                            gap:0.5rem;
                        }
                        .firstInner form p{
                            font-size: 18px;
                        }
                        #minimum , #not_matching{
                            font-size: 16px;
                            font-weight: 500;
                            margin-top: 0.4rem;
                        }
            
                        .secondInner form{
                            display: flex;
                            flex-direction: column;
                            gap: 1rem;
                        }
                        .secondInner form div:nth-last-child(2){
                            display: flex;
                            flex-direction: column;
                            gap: 0.8rem;
                        }
                        .secondInner form p:nth-last-child(1){
                            font-size: 20px;
                            
                            font-family: "DM Sans", sans-serif;
                        }
                        .secondInner form p:nth-last-child(2){
                            font-size: 18px;
                            font-family: "DM Sans", sans-serif;
                        }
                        .secondInner form input[type = "number"]{
                            width: 400px;
                            height: 47px;
                            border: 1px solid #EFF0F6;
                            border-radius: 11px;
                            font-size : 20px ; 
            
                        }
                        .secondInner form input[type = "submit"] {
                            width: 185px;
                            height: 50px;
                            background-color: #000000;
                            border: none;
                            color: white;
                            border-radius: 11px;
                            font-size: 18px;
                            font-family: "DM Sans", sans-serif;
                            
            
                        }
                        .btn2{
                            width: 60%;
                            height: 30%;
                            display: flex;
                            justify-content: center;
                            margin-top: 1rem;
                            
                        }
            
            
            </style>




        <div class="innerContent">

            <div class="left">

            
                <div class="inner">


                    <% if(typeof(otpSent) == 'undefined'){
                        otpSent = false;
                    } 


                    
                    current_password = typeof current_password !== "undefined" ? current_password : " " 
                    new_password = typeof new_password !== "undefined"? new_password : " " %>  
                    
                    %>


                    <% if(otpSent){ %>


                        <div class="firstInner">
    
                            <h1><%= user.username %></h1>
                            <h2>let's reset it!</h2>
        
                            <form action="/user/updatePassword/auth" method="post">
                    
                               
        
                                <div>
        
                                    <p>Current Password</p>
                                    <input type="password" class="form-control" name="current_password" value="<%= current_password %>" disabled>
        
                                </div>
                                <div>
                                    <p>New Password</p>
                                    <input type="text" class="form-control" id="pass" name="new_password" value="<%= new_password %>" disabled >
                                    <p id="minimum" style="color: red; display: none;">Minimum 8 Characters required</p>
        
                                </div>
                                <div>
                                    <p>Confirm New Password</p>
                                    <input type="password" class="form-control" name="confirm_password" id="con_pass" value="<%= new_password %>" disabled >
                                    <p id="not_matching" style="color: red; display: none;">Both Passwords Not Matching</p>
        
                                </div>
                                <div class="btn">
        
                                    <input type="submit" class="form-control" name="save" value="Get OTP" >
        
                                </div>
                                
                                
                                
                                
                                
                                
                                
                                
                            </form>
        
                        </div>
                        
        
        
                        <div class="secondInner">
                            
                            <form action="/worker/updatePassword/verify" method="post">
        
                                <div>
                                    
                                    <p>A verification code has been sent to you on your <br>
                                        e-mail id deepak@gmail.com .
                                    </p>
        
                                </div>
        
                                <div>
                                    <p>Enter The OTP</p>
                                    <input type="number" class="form-control" name="otp" required>
                                </div>

                                <div>
                                    <input type="hidden" name="newPassword" value="<%= new_password %>">
                                </div>

                                <div class="btn2">
                                    <input type="submit" class="form-control" name="update" value="Reset">
        
                                </div>
                                
                                
                                
                                
                                
                            </form>
                        </div>

                       

                    
    
                    
                </div> 




                <% }else { %>




                    <div class="firstInner">
    
                        <h1><%= user.username %></h1>
                        <h2>let's reset it!</h2>
    
                        <form action="/worker/updatePassword/auth" method="post">
                
                           
    
                            <div>
    
                                <p>Current Password</p>
                                <input type="password" class="form-control" name="current_password">
    
                            </div>
                            <div>
                                <p>New Password</p>
                                <input type="text" class="form-control" id="pass" name="new_password" >
                                <p id="minimum" style="color: red; display: none;">Minimum 8 Characters required</p>
    
                            </div>
                            <div>
                                <p>Confirm New Password</p>
                                <input type="password" class="form-control" name="confirm_password" id="con_pass" >
                                <p id="not_matching" style="color: red; display: none;">Both Passwords Not Matching</p>
    
                            </div>
                          

                            <div class="btn">
    
                                <input type="submit" class="form-control" name="save" value="Get OTP" >
    
                            </div>
                            
                            
                            
                            
                            
                            
                            
                            
                        </form>
    
                    </div>
                
                
                
                
                
                
                
                <% } %>

            </div>

            <div class="right">
                
            </div>


        </div>




      



   
        
        
    </div>




    <!-- JS code starting from here  -->


    <script>

        var pass = document.querySelector('#pass');
        var con_pass = document.querySelector('#con_pass');
        var min = document.querySelector('#minimum');
        var not = document.querySelector('#not_matching');

        pass.addEventListener('input', function() {
            min.style.display = 'block';
            if (pass.value.length >= 8) {
                min.style.display = 'none';
            }
        });

        con_pass.addEventListener('input', function() {
            not.style.display = 'block';
            if (pass.value.length === con_pass.value.length) {
                not.style.display = 'none';
            }
        });



    
   
</script>

</body>
</html>