<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link rel="stylesheet" href="/stylesheets/user/closedComplaint.css">

    <!-- Dm Sans  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap" rel="stylesheet">

    <!-- Poppins  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Biryani&family=Poppins:wght@400;500&display=swap" rel="stylesheet">

    <!-- Biryani  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Biryani&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />


    <!-- Inter -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">

   <!-- Overpass  -->
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

   <!-- Include jQuery library -->
   <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

</head>
<body>

    <div class="main">

        <!-- Navbar is included -->
        <%- include('../partials/navLeft') %>
        
        <div class="content">

            <i class="fa-solid fa-bars" id="toggle"></i>

            <div class="cbtm">

                
                    <table>
                        <thead>
                            <tr>
                               
                                    <th>Username</th>
                                    <th>Complaint ID</th>
                                    <th>Complaint Type</th>
                                    <th>Subject</th>
                                    <th>Registered Time</th>
                                    <th>Closed Time</th>
                                    <th>Worker Assigned</th>
                                    <th>Rating</th>
                                    <th>Actions</th>
                                
                            </tr>
                        </thead>
                        <tbody>

                            <% if (complaints && complaints.length > 0) { 
                                complaints.forEach((complaint)=>{ %>
                                <tr>
                                    <td><%= complaint.user.username %></td>
                                    <td><%= complaint.complaintId %></td>
                                    <td><%= complaint.complaintType %></td>
                                    <td><%= complaint.subject %></td>
                                    <td><%= complaint.createdAt.toLocaleDateString('en-GB') %> </td>
                                    <td><%= complaint.approvedByUserAt.toLocaleDateString('en-GB') %></td>
                                    <td><%= complaint.assignedWorker.username %></td>
                                    <td><%= complaint.rating %></td>
                                    <td>
                                        <a type="button" class="btn" href="/user/closedComplaint/<%= complaint._id %>">View Complaint</a>
                                    </td>
                                </tr>
                            <% }) 
                            } else { %>
                            <tr>
                                <td colspan="8" class="no-complaints">No Closed Complaints</td>
                            </tr>
                            <% } %>


                            
                        </tbody>
                    </table>
              
            </div>
            

            
            
        </div>

        <script>
            var toggle = document.getElementById('toggle');
            var close = document.getElementById('close');
            var nav = document.querySelector('.nav');
            var content = document.querySelector('.content');
            var preview = document.querySelector('.preview');
            var previewContent = document.querySelectorAll('#previewContent');

            toggle.addEventListener('click', function () {
                nav.classList.add('nav-active');
                content.classList.add('blur');
            });

            close.addEventListener('click', function () {
                nav.classList.remove('nav-active');
                content.classList.remove('blur');
            });

            previewContent.forEach(function(element) {
                element.addEventListener('click', function () {
                    preview.classList.add('preview-active');
                });
            });

            const toggleNav = () => {
                let mode = 'dark';
                var a = document.querySelector(".dark");
                if (document.body.classList.contains('light-mode')) {
                    document.body.classList.remove("light-mode");
                    a.innerHTML = "Light Mode";
                } else {
                    document.body.classList.add("light-mode");
                    a.innerHTML = "Dark Mode";
                    mode = 'light';
                }
                // Store the mode in session storage
                sessionStorage.setItem('mode', mode);
            }

            // Function to apply mode when page loads
            const applyMode = () => {
                let mode = sessionStorage.getItem('mode');
                if (mode === 'light') {
                    document.body.classList.add("light-mode");
                    document.querySelector(".dark").innerHTML = "Dark Mode";
                } else {
                    document.body.classList.remove("light-mode");
                    document.querySelector(".dark").innerHTML = "Light Mode";
                }
            }

            // Apply mode when page loads
            applyMode();

           

        </script>

    </div>
</body>
</html>
