<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link rel="stylesheet" href="/stylesheets/user/profile.css">

    <!-- Dm Sans  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap" rel="stylesheet">

    <!-- Poppins  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Biryani&family=Poppins:wght@400;500&display=swap" rel="stylesheet">

    <!-- Biryani  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Biryani&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />


    <!-- Inter -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">

   <!-- Overpass  -->
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

   <!-- Include jQuery library -->
   <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>


    
</head>
<body>

    <div class="main">


         <!-- Nav bar Starts for here -->
         <%- include('../partials/navLeft') %>

        <div class="content">

            <i class="fa-solid fa-bars" id="toggle"></i>

            <div class="cinfo">

                <h1>Edit Profile</h1>
                <p>Lorem, ipsum dolor.</p>
                
            </div>
           
            <div class="cline"></div>

            <div class="cbtm">

                <div class="cbtmleft">

                    <form action="profile/updateProfile"  onsubmit="return validateAndUpload(event)" enctype="multipart/form-data" method="post">

                        <div class="name">
                            <p>Full Name</p>
                            <div>
                                
                                <input type="text" name="firstName" placeholder="First Name" value="<%= user.firstName ? user.firstName  : '' %>"> 
                                <input type="text" name="lastName" placeholder="Last Name" value="<%= user.lastName ? user.lastName  : '' %>" > 
                            </div>
                        </div>
                        <div class="address">

                            
                                <p>Address</p>
                                <textarea rows="4" cols="90" placeholder="Flat / House No / Building Name" name="address" disabled> <%= user.buildingNumber %>/<%= user.roomNumber %> NCH COLONY KANJURMARG WEST  </textarea>
     
                            
                            
                        </div>

                        <div class="contact">
                           <div class="email">
                                <p>Email</p>
                                <input type="email" name="email" placeholder="Email" value="<%= user.email %>" > 
                           </div>

                           <div class="mob">
                                <p>Contact Us</p>
                                <input type="number" name="mobileNumber" placeholder="Mob No" value="<%= user.mobileNumber ? user.mobileNumber  : '' %>" > 
                           </div>

                        </div>

                        <div class="submit">
                            <input type="submit" value="Save" name = "save">
                        </div>
                        
                        



                    

                </div>
                <div class="cbtmright">

                    <% if(user.profilePicture[0] == "default.png"){ %>

                        <img src="/images/Profile.svg" id="profileImage">
                         


                    <% }else{ %>

                        <img src="<%= user.profilePicture[0] %>" id="profileImage">


                   <% } %>

                    <div class="upload">
                        
                        <img src="/images/file-add.svg" alt="">
                        <label for="file"  id="fileLabel">Upload New</label>
                        <input type="file" id="file" name="profile_image" accept="image/*">
                        
                    </div>

                </form>

                </div>

            </div>
            

            
            
        </div>

        <script>
            var toggle = document.getElementById('toggle');
            var close = document.getElementById('close');
            var nav = document.querySelector('.nav');
            var content = document.querySelector('.content');
            var preview = document.querySelector('.preview');
            var previewContent = document.querySelectorAll('#previewContent');

            toggle.addEventListener('click', function () {
                nav.classList.add('nav-active');
                content.classList.add('blur');
            });

            close.addEventListener('click', function () {
                nav.classList.remove('nav-active');
                content.classList.remove('blur');
            });

            previewContent.forEach(function(element) {
                element.addEventListener('click', function () {
                    preview.classList.add('preview-active');
                });
            });

            const toggleNav = () => {
                let mode = 'dark';
                var a = document.querySelector(".dark");
                if (document.body.classList.contains('light-mode')) {
                    document.body.classList.remove("light-mode");
                    a.innerHTML = "Light Mode";
                } else {
                    document.body.classList.add("light-mode");
                    a.innerHTML = "Dark Mode";
                    mode = 'light';
                }
                // Store the mode in session storage
                sessionStorage.setItem('mode', mode);
            }

            // Function to apply mode when page loads
            const applyMode = () => {
                let mode = sessionStorage.getItem('mode');
                if (mode === 'light') {
                    document.body.classList.add("light-mode");
                    document.querySelector(".dark").innerHTML = "Dark Mode";
                } else {
                    document.body.classList.remove("light-mode");
                    document.querySelector(".dark").innerHTML = "Light Mode";
                }
            }

            // Apply mode when page loads
            applyMode();

            function changeLogo(event) {
                const fileInput = event.target;
                const logoImg = document.getElementById("profileImage");

                if (fileInput.files && fileInput.files[0]) {
                    const reader = new FileReader();

                    reader.onload = function (e) {
                        logoImg.src = e.target.result;
                    };

                    reader.readAsDataURL(fileInput.files[0]);
                }
            }

            document.getElementById('file').addEventListener('change', function(event) {
            var fileName = event.target.files[0].name;
            var fileLabel = document.getElementById('fileLabel');
            fileLabel.textContent = fileName;
            changeLogo(event);
            });


            async function validateAndUpload(event) {
                const fileInput = document.getElementById('file');
                const file = fileInput.files[0];

                if (!file) {
                    alert("Please select an image file for the complaint!");
                    event.preventDefault();
                    return false;
                }

                const allowedTypes = ['image/jpeg', 'image/png', 'image/jpg'];
                if (!allowedTypes.includes(file.type)) {
                    alert("Only JPG and PNG image files are allowed!");
                    event.preventDefault();
                    return false;
                }

                const maxSize = 700 * 1024; // 700KB
                if (file.size > maxSize) {
                    alert("The image size should be less than 700KB!");
                    event.preventDefault();
                    return false;
                }

                return true; // Proceed with form submission
            }








        </script>
    </div>
</body>
</html>
